@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #18191a;
}

::-webkit-scrollbar {
  display: none;
}

@layer components {
  .sidebar-item {
    @apply row-span-1 flex flex-col items-center justify-center space-y-1 border-b border-gray-500 transition-all duration-300;
  }
  .sidebar-item-icon {
    @apply w-[20px] h-[20px] cursor-pointer;
  }
  .sidebar-item-text {
    @apply text-xs text-[#B5BFC7] font-semibold cursor-pointer;
  }
}
