@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #18191a;
    color: #e3e6eb;
  }
}

@layer components {
  .sidebar-item {
    @apply row-span-1 flex flex-col items-center justify-center space-y-1 border-b border-gray-500 transition-all duration-300;
  }
  .sidebar-item-icon {
    @apply w-[20px] h-[20px] cursor-pointer text-white;
  }
  .sidebar-item-text {
    @apply text-xs text-[#B5BFC7] font-semibold cursor-pointer text-primary-text;
  }

  .profile_sidebar_item {
    @apply border-b dark:border-gray-500 px-5 py-4 font-medium text-gray-700 dark:text-primary-text text-sm hover:scale-[1.05] transition-all duration-300;
  }
}
